
@{
    Layout = "~/Views/Shared/_LayoutLoggedOut.cshtml";
    ViewBag.PartnerDomainURL = "https://epay.propay.com";
    ViewBag.WebsiteURI = "/Login/Get-A-New-Token";
    ViewBag.Title = "Get a New Security Token"; /* 65 CHARACTERS MAXIMUM */
    ViewBag.Description = "You can request a new token if your existing token has either expired or invalid."; /* 140 CHARACTERS MAXIMUM */

    //PROPAY THEME
    //ViewBag.Partner = "ProPay";
    //ViewBag.PartnerTheme = "Default";
    //ViewBag.MainColor = "#0080a6"; //PROPAY BLUE
    //ViewBag.ButtonColor = "#9fc163"; //BUTTON COLOR
    //ViewBag.ButtonHoverColor = "#8ead4d"; //BUTTON COLOR
    //ViewBag.ButtonTextColor = "#FFFFFF"; //BUTTON TEXT COLOR
    //ViewBag.ButtonHoverTextColor = "#FFFFFF"; //BUTTON TEXT COLOR

    // MARY KAY THEME
    ViewBag.Partner = "Mary Kay";
    ViewBag.PartnerTheme = "MaryKay";
    ViewBag.MainColor = "#ef477e"; //MARYKAY PINK
    ViewBag.ButtonColor = "#ef477e"; //BUTTON COLOR
    ViewBag.ButtonHoverColor = "#f7a7a6"; //BUTTON COLOR
    ViewBag.ButtonTextColor = "#FFFFFF"; //BUTTON TEXT COLOR
    ViewBag.ButtonHoverTextColor = "#FFFFFF"; //BUTTON TEXT COLOR

    // CUSTOM VARIABLES
    ViewBag.PanelHeaderLabel = "Get A Security Token";
    ViewBag.UnknownDeviceExplanationLabel = "Get a one-time token to regain access to your account you are accessing from an unknown device and you have an expired token.";
    ViewBag.RequestTokenHeader = "Request A Security Token";
    ViewBag.VerificationDefault = "Select a delivery method";
    ViewBag.VerificationEmail = "marcelo.martins@propay.com";
    ViewBag.VerificationSMS = "8019154697";
    ViewBag.VerificationVoice = "(801) 915-4697";
    ViewBag.DeliveryMethodLabel = "Send me the new Security Token via";
    ViewBag.DeliveryDefaultMethodLabel = "Select a delivery method...";
    ViewBag.DeliverViaSMSTextLabel = "SMS Text";
    ViewBag.DeliverViaVoiceMessageLabel = "Voice Message";
    ViewBag.DeliverViaEmailAddressLabel = "Email Address";
    ViewBag.DeliveryOptionsLabel = "Send the new Security Token to:";
    ViewBag.EmailAddressLabel = "Email Address";
    ViewBag.SMSLabel = "SMS Text";
    ViewBag.VoiceMessageLabel = "Voice Message";

    // SUBMIT BUTTON
    ViewBag.SubmitButtonLabel = "Send me the Token";

}

@section metatags {
    <title>@Html.Raw(ViewBag.Title)</title>
    <meta name="description" content= "@Html.Raw(ViewBag.Description)" />
    <meta name="robots" content="index,follow">
    <meta name="author" content= "@Html.Raw(ViewBag.Partner)" />
    <meta name="copyright" content= "@Html.Raw(ViewBag.Partner)" />

    <style>
#custom-theme {position:relative;text-align:center;width: 100%;background-color:#E4E8E6;
            background-image:url('../../App_Themes/@ViewBag.PartnerTheme/images/hero.jpg');
    background-position:center;-webkit-background-size:cover;-moz-background-size: cover;background-size:cover;-o-background-size: cover;}
#login-header {color:@Html.Raw(ViewBag.MainColor);font-size:27px;font-weight:600;text-transform: uppercase;margin:15px auto 15px auto;}
        .sub-header {color:@Html.Raw(ViewBag.MainColor);font-size:23px;font-weight:500;text-transform: uppercase;margin:20px auto 10px auto;}

        .display-delivery-method {border: solid 1px #909090; border-radius:6px;text-align:center;height:40px;margin-top:8px;}
        .display-delivery-option {padding-top:8px !important;color:#777;font-weight: 600;font-size:15px;}

        .custom-btn:hover, .custom-btn:focus {text-decoration:none;background-position:0 -15px;transition:background-position .1s linear;background-color: @Html.Raw(ViewBag.ButtonColor);color: @Html.Raw(ViewBag.ButtonHoverTextColor);}
        .custom-btn {background-color: @Html.Raw(ViewBag.ButtonColor);border-color: @Html.Raw(ViewBag.ButtonColor);color: @Html.Raw(ViewBag.ButtonHoverTextColor);text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);background-color: @Html.Raw(ViewBag.ButtonColor);background-image: linear-gradient(to bottom, @Html.Raw(ViewBag.ButtonColor), @Html.Raw(ViewBag.ButtonColor));
                background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff@Html.Raw(ViewBag.ButtonColor)', endColorstr='#ff@Html.Raw(ViewBag.ButtonColor)', GradientType=0);border-color: @Html.Raw(ViewBag.ButtonColor) @Html.Raw(ViewBag.ButtonColor) @Html.Raw(ViewBag.ButtonColor);
                border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
        .custom-btn:active {background-color: @Html.Raw(ViewBag.ButtonColor);border-color: @Html.Raw(ViewBag.ButtonColor);}
        .custom-btn.active {background-color: @Html.Raw(ViewBag.ButtonColor);border-color: @Html.Raw(ViewBag.ButtonColor);}
        .custom-btn.active:hover {background-color: @Html.Raw(ViewBag.ButtonHoverColor);border-color: @Html.Raw(ViewBag.ButtonColor);}
        .custom-btn.disabled:hover {background-color: @Html.Raw(ViewBag.ButtonHoverColor);border-color: @Html.Raw(ViewBag.ButtonColor);}
        .custom-btn.disabled:focus {background-color: @Html.Raw(ViewBag.ButtonHoverColor);border-color: @Html.Raw(ViewBag.ButtonColor);}
        .custom-btn.disabled:active {background-color: @Html.Raw(ViewBag.ButtonColor);border-color: @Html.Raw(ViewBag.ButtonColor);}
        .custom-btn.disabled.active {background-color: @Html.Raw(ViewBag.ButtonColor);border-color: @Html.Raw(ViewBag.ButtonColor);}
    </style>

    @*-- fb meta --*@
    <meta property="og:title" content="@Html.Raw(ViewBag.Title)" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="@Html.Raw(ViewBag.Description)" />
    <meta property="og:locale" content="en_US" />
    @*-- make sure to include the other languages targeted by the partner below --*@
    <meta property="og:url" content="@Html.Raw(ViewBag.PartnerDomainURL)/@Html.Raw(ViewBag.WebsiteURI)" />
    <meta property="og:image" content="@Html.Raw(ViewBag.PartnerDomainURL)/App_Themes/@ViewBag.PartnerTheme/images/facebook-share.png" />@*IMAGE REQUIREMENTS: 1200X1200 or 600X315 (minimum) with Absolute URI Path*@

    @*-- twitter meta --*@
    <meta name="twitter:title" content="@Html.Raw(ViewBag.Title)" />@*Maxlength 70 Chars*@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="@Html.Raw(ViewBag.Description)" />
    <meta name="twitter:url" content="@Html.Raw(ViewBag.PartnerDomainURL)/@Html.Raw(ViewBag.WebsiteURI)" />
    <meta name="twitter:image" content="@Html.Raw(ViewBag.PartnerDomainURL)/App_Themes/@ViewBag.PartnerTheme/images/twitter-share.png" />@*IMAGE REQUIREMENTS: 440x220 & <= 1MB with Absolute URI Path*@
    <meta name="twitter:site" content="@Html.Raw(ViewBag.TwitterHandle)" />
}

@{
    Html.RenderPartial("_TopNavbarLoggedOut");
}

<div id="custom-theme">
    <div class="custom-header-content">
        <div class="inner">
            <div class="container">
                <div id="login-top-spacer" class="hidden-sm hidden-xs"></div>
                <div class="col-lg-12 col-md-12">
                    <div class="col-lg-7 col-md-7 hidden-sm hidden-xs">
                        <img id="MainLogonImg" src="~/App_Themes/@ViewBag.PartnerTheme/images/main-logo.png" class="img-responsive center-margins" alt="@Html.Raw(ViewBag.Partner)" />
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <div class="panel-admin">
                            <div class="panel-inner small-panel">
                                <div class="clearfix">
                                    <img src="~/App_Themes/@ViewBag.PartnerTheme/images/logo.png" class="img-responsive center-margins" alt="logo" />
                                </div>
                                <hr class="green" />
                                <h3 id="login-header"><i class="fa fa-exclamation-triangle pr8"></i>@Html.Raw(ViewBag.PanelHeaderLabel)</h3>
                                <div class="clearfix pt5"></div>
                                <div class="display-block f15">
                                    @Html.Raw(ViewBag.UnknownDeviceExplanationLabel);
                                </div>
                                <h3 class="sub-header">
                                    @Html.Raw(ViewBag.RequestTokenHeader)
                                </h3>
                                <form id="UserLoginInForm" name="UserLoginForm" action="@Url.Action("Enter-Token", "Login")" autocomplete="off" method="POST">
                                    <div class="input-group">
                                        <span class="input-group-addon input-field-border-light-solid"><i class="fa fa-address-card padding-left-and-right-two-px admin-language-icon-color"></i></span>
                                        <select required="required" id="method" name="method" class="form-control input-field-border-light-solid full-width" data-live-search="true" title="Please select a language">
                                            <option value="default" selected="selected">@Html.Raw(ViewBag.DeliveryMethodLabel):</option>
                                            <option value="sms"> @Html.Raw(ViewBag.DeliverViaSMSTextLabel)</option>
                                            <option value="voice"> @Html.Raw(ViewBag.DeliverViaVoiceMessageLabel)</option>
                                            <option value="email"> @Html.Raw(ViewBag.DeliverViaEmailAddressLabel)</option>
                                        </select>
                                    </div>
                                    <div class="display-delivery-method">
                                        <label for="contact" id="contact" class="display-delivery-option">@Html.Raw(ViewBag.DeliveryDefaultMethodLabel)</label>
                                    </div>
                                    <div class="clearfix pt10"></div>
                                    <hr class="green" />
                                    <div class="clearfix pt5"></div>
                                    <button id="signInButton" type="submit" onclick="dataLayer.push({'pageTitle': '@Html.Raw(ViewBag.Title)','event': '@Html.Raw(ViewBag.SubmitButtonLabel)'});" class="btn btn-lg custom-btn">
                                        <span class="text-uppercase strong plr15"><i class="fa fa-dot-circle-o pr5"></i>@Html.Raw(ViewBag.SubmitButtonLabel)</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="login-bottom-spacer" class="hidden-sm hidden-xs"></div>
            </div>
        </div>
    </div>
</div>

@section pagerequiredscript {
    @* *-*-*-*-*-*-*-* REQUIRED SCRIPT TO SWITCH DROPDOWN DELIVERY OPTIONS *-*-*-*-*-*-*-* *@
    <script>
    $(document).ready(function () {
        $('#method').change(
            function () {
                var method = $('option:selected').val();

                if (this.value == "default") {
                    $('#contact').text("@Html.Raw(ViewBag.VerificationDefault)");
                } else if (this.value == "email") {
                    $('#contact').text("@Html.Raw(ViewBag.VerificationEmail)");
                } else if (this.value == "sms") {
                    $('#contact').text("@Html.Raw(ViewBag.VerificationSMS)");
                } else if (this.value == "voice") {
                    $('#contact').text("@Html.Raw(ViewBag.VerificationVoice)");
                }
            });
    });
    </script>
    @* ./*-*-*-*-*-*-* REQUIRED SCRIPT TO SWITCH DROPDOWN DELIVERY OPTIONS *-*-*-*-*-*-*/. *@
}